body {
  font-size: 14px;
  background: $color-dark;
  -webkit-overflow-scrolling: touch;

  @media only screen and (min-width:768px) {
    display: flex;
  }
}

#main {
  padding: 0 $small-space $middle-space;
  flex-grow: 1;
  color: $color-font;
  background: $color-dark;

  @media only screen and (min-width:768px) {
    height: 100%;
    min-height: 100%;
    padding: 0 $large-space $large-space;
    overflow: auto;

    .content {
      max-width: 720px;
      margin: 0 auto;
    }

    .article {
      margin-bottom: $large-space * 2;
    }
  }

  hr {
    border-top: 1px dashed $color-border;
  }

  .content {
    padding: 0;
    background: $color-light;
  }

  .article {
    margin: 0;
    padding: 0;
    border-top: solid 8px $color-dark;

    &__title {
      margin-top: 0;
      padding: $middle-space $middle-space;
    }

    &__content {
      margin-top: 0;
      padding: 0 $middle-space $middle-space;

      div {
        position: relative;
      }
    }

    img {
      display: block;
      max-width: 100%;
      margin: $middle-space auto;
      border-radius: 15px;
    }

    img.square {
      border-radius: 0;
    }

    code {
      font-size: 87.5%;
      color: $color-middle;
      word-break: break-word;
    }

    li {
      ol, ul {
        margin: 0;
      }
    }

    sup {
      &:before {
        content: '['
      }

      &:after {
        content: ']'
      }
    }

    .footnotes {
      margin: 48px -24px -32px;
      padding: 8px 0 24px;
      color: $color-light;
      background: $color-dark;

      hr {
        display: none;
      }

      ol, ul {
        margin: 0;
        padding-left: 16px;
        li {
          margin: 0;
        }

        p {
          margin: 4px 0 0;
          font-size: 12px;
        }

        a {
          color: $color-font-inv-light;

          &:hover {
            color: $color-font-inv;
          }
        }
      }
    }
  }

  .paginator {
    display: flex;
    justify-content: space-between;
    padding: $middle-space 0;
    background: $color-dark;

    a {
      color: $color-font-inv-light;

      &:hover {
        color: $color-font-inv;
      }
    }
  }
}

.heading {
  margin: 0;
  padding: $middle-space;
  border: none;
  box-shadow: none;
  text-align: center;

  &__image {
    display: block;
    margin: 0 auto;
    border-radius: 50px;
  }

  &__icons {
    font-size: 22px;
    margin: $space 0;

    a {
      margin: 0 $small-space;
    }
  }

  @media only screen and (min-width:768px) {
    background: $color-light;
  }
}

.breadcrumb {
  margin: 0;
  padding: 0 $middle-space;
  border-top: 8px solid $color-dark;
  border-radius: 0;
  line-height: 36px;
  font-size: 12px;
  color: $color-font;
  background: transparent;
  list-style: none;

  li {
    display: inline-block;
    margin: 0;
  }

  li+li:before {
    padding: 0 5px;
    color: #ccc;
    content: "/\00a0";
  }
}

.meta {
  margin-top: -5px;
  margin-bottom: $middle-space;
  padding: 0 $middle-space;
  color: $color-font;
  font-size: 11px;

  div {
    display: inline-block;
    margin-right: 10px;
  }
  .fa {
    margin-right: 5px;
  }
}

#sidebar {
  width: 100%;
  color: $color-light;
  background: $color-deep;

  @media only screen and (min-width:768px) {
    height: 100%;
    min-height: 100%;
    width: 300px;
    padding: 15px 0;
    overflow: auto;
  }

  h3 {
    margin: 0;
    padding: $middle-space;
    font-size: 16px;
    border-bottom: 1px solid $color-font-inv-light;
  }

  ol {
    margin: 0;
    padding: $middle-space 0;
  }

  li {
    padding: 0 $middle-space;
    list-style: none;

    .badge {
      display: inline-block;
      min-width: 32px;
      margin-right: $space;
      margin-bottom: 1px;
      padding: 0 7px;
      opacity: 0.8;
      color: #fff;
      background-color: #777;
      font-size: 11px;
      font-weight: 400;
      line-height: 15px;
      text-align: center;
      white-space: nowrap;
      vertical-align: middle;
      border-radius: 10px;
    }

    a {
      color: $color-font-inv-light;

      &:hover {
        color: $color-font-inv;
      }
    }
  }
}
