html, body {
  font-family: 'Noto Sans JP', Verdana, Roboto, "Droid Sans", "游ゴシック", YuGothic, "メイリオ", Meiryo, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "ＭＳ Ｐゴシック", sans-serif;
  height: 100%;
  min-height: 100%;
  width: 100%;
  max-width: 100%;
  overflow: auto;
  overflow-x: hidden;

  .row {
    height: 100%;
    min-height: 100%;
  }
}

h1 {
  margin: $large-space * 2 0 $middle-space;
  padding-bottom: $space;
  font-weight: 600;
  font-size: 26px;
  border-bottom: 1px solid $color-border;
}

h2 {
  margin: $large-space * 2 0 $middle-space;
  padding-bottom: 10px;
  font-weight: 600;
  font-size: 22px;
  border-bottom: 1px solid $color-border;
}

h3 {
  margin: $large-space 0 $middle-space;
  padding-bottom: 10px;
  font-size: 18px;
  font-weight: 600;
}

h4 {
  margin: $middle-space 0 $middle-space;
  font-size: 16px;
  font-weight: 500;
}

h5 {
  margin: $middle-space 0 $middle-space;
  font-size: 16px;
  font-weight: 500;
}

p, ul, ol {
  margin: $middle-space 0 $middle-space;
  line-height: 1.8;

  li {
    ul, ol {
      margin: $small-space 0 0;
    }
  }
}

ul, ol {
  padding-left: 20px;
}

li {
  margin: 0 0 $small-space;
}

blockquote {
  padding: 5px $space;
  font-size: 14px;
  border-color: $color-font-light;
  color: $color-font-light;

  p {
    margin: 0;
  }
}

a {
  color: $color-font-light;
  transition: color 0.1s ease-in-out;

  &:hover {
    color: $color-font;
    text-decoration: none;
  }
}
