$large-space: 50px;
$middle-space: 30px;
$space: 15px;
$small-space: 10px;

$color-deep: #1f2223;
$color-dark: #3c4343;
$color-middle: #22527f;
$color-normal: #4e94ce;
$color-light: #f5f5f5;

@import 'reset';
@import 'main';
