$large-space: 48px;
$middle-space: 24px;
$space: 16px;
$small-space: 8px;

$color-deep: #112A33;
$color-dark: #357C96;
$color-middle: #3A6BA5;
$color-light: #FDFDFD;
$color-font: rgba(0, 0, 0, .87);
$color-font-light: rgba(0, 0, 0, .48);
$color-font-inv: rgba(255, 255, 255, .87);
$color-font-inv-light: rgba(255, 255, 255, .48);
$color-border: rgba(0, 0, 0, .24);

@import 'reset';
@import 'main';
