version: 2

bundle_install: &bundle_install
  run:
    name: bundle install
    command: bundle install --path vendor/bundle

restore_bundle_cache: &restore_bundle_cache
  restore_cache:
    key: cache-blog-{{ checksum "Gemfile.lock" }}

install_dependency: &install_dependency
  run:
    command: sudo apt-get install texlive-latex-recommended texlive-latex-extra texlive-luatex pdf2svg

jobs:
  build:
    docker:
      - image: circleci/ruby:2.6.6-node
    steps:
      - checkout
      - *install_dependency
      - *restore_bundle_cache
      - *bundle_install
      - run:
          name: build
          command: bundle exec middleman build --no-parallel
      - save_cache:
          key: cache-blog-{{ checksum "Gemfile.lock" }}
          paths:
            - vendor/bundle
  deployment:
    docker:
      - image: circleci/ruby:2.6.6-node
    steps:
      - checkout
      - *install_dependency
      - *restore_bundle_cache
      - *bundle_install
      - run:
          name: build
          command: bundle exec middleman build --no-parallel
      - run:
          name: setup git
          command: git config --global user.name 'Circle CI' && git config --global user.email 'unhappychoice@gmail.com'
      - run:
          name: deploy
          command: scripts/deploy.sh
  generate:
    docker:
      - image: circleci/ruby:2.6.6-node
    steps:
      - checkout
      - *install_dependency
      - *restore_bundle_cache
      - *bundle_install
      - run:
          name: generate
          command: bundle exec ruby scripts/github_event_article_generator.rb
workflows:
  version: 2
  build-and-deploy:
    jobs:
      - build:
          filters:
            branches:
              ignore: master
      - deployment:
          filters:
            branches:
              only: master

  github-article:
    jobs:
      - generate
    triggers:
      - schedule:
          cron: "0 0 1 * *"
          filters:
            branches:
              only: master
