= partial 'shared/ga'
script src="https://polyfill.io/v3/polyfill.min.js?features=es6"
script id="MathJax-script" src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js" async=true
= javascript_include_tag 'all'
