link rel="stylesheet" href="//fonts.googleapis.com/css?family=Noto+Sans+JP:400,500|Rubik:400,500&amp;amp;subset=japanese" media="print" onload="this.media='all'"
link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" media="print" onload="this.media='all'"
style type="text/css" = Rouge::Themes::Monokai.render(:scope => '.highlight')
= stylesheet_link_tag 'all'
